<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Timary project - официальный сайт</title>
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="../static/css/add_timetable.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans&family=Raleway:wght@100&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="up-block">
            <div class="fixed-container">
                <nav class="up-text">
                    <a href="/" style="font-size: 40px;">< Назад</a>
                   <img src="../static/img/timetable.png" style="width: 5%; height: 5%;"></img>
                    {% if deletion %}
                    <a href="/delete_timetable/{{ id }}" style="width: 3.5%; height: 100%;"><img src="../static/img/delete.png" style="width: 100%; height: 100%;"></a>
                    {% else %}
                    <img src="../static/img/delete.png" style="width: 3.5%; height: 3.5%;"></img>
                    {% endif %}
                </nav>
            </div>
        </header>

        <script>
        document.addEventListener('keydown', function(event) {
      if (event.key === 'F1') {
        event.preventDefault(); // Отключаем стандартное поведение F1 (например, открытие справки браузера)
        // alert("Это ваша собственная справка!\nF1 работает!");
        window.open('/static/drExplain/opisanie_operatsij.htm', "_blank")
        // Можно заменить alert на модальное окно с полной информацией
      }
    });
    </script>


        <form class="card-body" method="POST">
                    {% if message %}
            <div class="text">{{ message }}</div>
            {% endif %}

            {{ form.hidden_tag() }}
            <hr width="100%" size="2" color="#000000" />
            <br>

            <hr width="100%" size="2" color="#000000" />
            <h1>{% for error in form.lesson.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {{ form.lesson(class="in-put", size="40") }}</h1>

            <hr width="100%" size="2" color="#000000" />
            <h1>{% for error in form.room.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {{ form.room(class="in-put", size="40") }}</h1>

            <h1>{% for error in form.day_of_week.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {{ form.day_of_week(class="in-put") }}</h1>
            <hr width="100%" size="2" color="#000000" />

            <h1>{% for error in form.num_of_week.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {{ form.num_of_week(class="in-put") }}</h1>
            <hr width="100%" size="2" color="#000000" />

            <h1>{% for error in form.time.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {{ form.time(class="in-put", type="time") }}</h1>
            <hr width="100%" size="2" color="#000000" />

            <br>

            {{ form.submit(class="btn btn-success") }}
        </form>
    </body>
</html>