<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Timary project - официальный сайт</title>
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans&family=Raleway:wght@100&family=Roboto&display=swap" rel="stylesheet">
        <meta name="keywords" content="школа обучение дистанционное образование расписание план Timary timary дневник блокнот ежедневник " />
        <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="up-block">
             <div class="fixed-container">
                <nav class="up-text">
                    <img src="../static/img/146__2.jpg" style="width: 5%; height: 5%; margin: auto 0";></img>
                    <a href="/add_homework/0" style="padding: 0 3% 0 0">+</a>
                    <img src="../static/img/timetable.png" style="width: 5%; height: 5%; margin: auto 0";></img>
                    <a href="/" style="padding: 0 3% 0 0">Раcписание</a>
                    <img src="../static/img/homework.png" style="width: 5%; height: 5%; margin: auto 0"></img>
                    <a href="/homework/" style="padding: 0 3% 0 0"><u>Домашнее задание</u></a>
                    {% if current_user.is_authenticated %}
                    <a href="/user_info">{{ current_user.name }}</a>
                    {% else %}
                    <a href="/register"> Вход/Регистрация </a>
                    {% endif %}
                </nav>
             </div>
        </header>

         <script>
            document.addEventListener('keydown', function(event) {
                if (event.key === 'F1') {
                    event.preventDefault(); 
                    window.open('/static/drExplain/opisanie_operatsij.htm', "_blank")
                }
            });
        </script>

        {% if not current_user.is_authenticated %}
            <p class="text">Нажмите + чтобы добавить задание</p>
        {% else %}
            <div style="display: flex; justify-content: space-between; align-items: center; margin: 20px;">
                <a href="/homework/{{ previous_week_date }}"><img src="../static/img/arrow_previous.jpg" alt="Previous Week" style="width: 100px; height: 100px;"></a>
                <h2>Домашнее задание</h2>
                <a href="/homework/{{ next_week_date }}"><img src="../static/img/arrow_next.jpg" alt="Next Week" style="width: 100px; height: 100px;"></a>
            </div>

            <table align="center" cellpadding="10" bgcolor="#FCE8B6" bordercolor="#FFFFFF" frame="border" rules="all" style="width: 90%;">
                <tr bgcolor="#FFFFFF">
                    <th width="15%">День недели</th>
                    <th>Урок</th>
                    <th>Задание</th>
                    <th>Готово?</th>
                    <th>Изменить/удалить</th>
               </tr>
               {% for day, data in days.items() %}
                    {% if data.tasks %}
                        {% for task in data.tasks %}
                        <tr>
                            {% if loop.first %}
                            <th rowspan="{% if data.tasks %}{{ data.tasks|length }}{% else %}1{% endif %}">{{ day }} <br> <small>{{ data.date }}</small></th>
                            {% endif %}
                            <td>{{ task.lesson }}</td>
                            <td>{{ task.task }}</td>
                            <td>{{ task.ready }}</td>
                            <td><a href="/add_homework/{{ task.homework_id }}">Изменить</a></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <th>{{ day }} <br> <small>{{ data.date }}</small></th>
                            <td colspan="4" align="center">-</td>
                        </tr>
                    {% endif %}
               {% endfor %}
            </table>
        {% endif %}
    </body>
</html>