{% extends 'base.html' %}

{% block head %}
<link href="../static/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% if not current_user.is_authenticated %}
    <p class="text">Нажмите + чтобы добавить расписание</p>
{% else %}
    <div style="display: flex; justify-content: space-between; align-items: center; margin: 20px;">
        <a href="/timetable/{{ previous_week_date }}"><img src="../static/img/arrow_previous.jpg" alt="Previous Week" style="width: 100px; height: 100px;"></a>
        <h2>Расписание</h2>
        <a href="/timetable/{{ next_week_date }}"><img src="../static/img/arrow_next.jpg" alt="Next Week" style="width: 100px; height: 100px;"></a>
    </div>

    <table align="center" cellpadding="10" bgcolor="#FCE8B6" bordercolor="#FFFFFF" frame="border" rules="all" style="width: 90%;">
        <tr bgcolor="#FFFFFF">
            <th width="15%">День недели</th>
            <th>Урок</th>
            <th>Время</th>
            <th>Кабинет</th>
            <th>Изменить/удалить</th>
       </tr>
       {% for day, data in days.items() %}
            {% if data.lessons %}
                {% for lesson in data.lessons %}
                <tr>
                    {% if loop.first %}
                    <th rowspan="{{ data.lessons|length }}">{{ day }} <br> <small>{{ data.date }}</small></th>
                    {% endif %}
                    <td>{{ lesson.lesson }}</td>
                    <td>{{ lesson.time.strftime('%H:%M') if lesson.time else '-' }}</td>
                    <td>{{ lesson.room }}</td>
                    <td><a href="/add_timetable/{{ lesson.lesson_id }}">Изменить</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th>{{ day }} <br> <small>{{ data.date }}</small></th>
                    <td colspan="4" align="center">-</td>
                </tr>
            {% endif %}
       {% endfor %}
    </table>
{% endif %}
{% endblock %}

<script>
    document.addEventListener('keydown', function(event) {
  if (event.key === 'F1') {
    event.preventDefault(); 
    window.open('/static/drExplain/opisanie_operatsij.htm', "_blank")
  }
});
</script>
