{% extends 'base.html' %}

{% block head %}
<link href="../static/css/register.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container mt-4" style="margin: 0 2%;" >
<p class="akk">
    <b> Имя: </b> {{ current_user.name }} <a href="/change"> Изменить </a> <br>
    <b> Логин: </b> {{ current_user.login }} <a href="/change"> Изменить </a> <br>
    <b> Email: </b> {{ current_user.email }} <a href="/change"> Изменить </a> <br>
    <a href="/logout"> Выйти </a>
</p>
</div>

{% endblock %}

<script>
        document.addEventListener('keydown', function(event) {
      if (event.key === 'F1') {
        event.preventDefault(); // Отключаем стандартное поведение F1 (например, открытие справки браузера)
        // alert("Это ваша собственная справка!\nF1 работает!");
        window.open('/static/drExplain/opisanie_operatsij.htm', "_blank")
        // Можно заменить alert на модальное окно с полной информацией
      }
    });
    </script>
